/* ======================================================================== */ 

 /*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

*{
	
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;

}


*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}


:root {
  --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
	
	/* Font style */
	
	--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	
	/* Color style */
	
	/*
	--color-primary:#c51350;
	--color-secondary:#ff9a3c;
	--color-body:#333;
	--color-bg: #006600;
	--color-primary-dark:#007f67;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#cdcdcc;
	--color-border:darkgrey;
	--bs:#ffa857;
	*/
	
	--color-primary: #0575E6;
	--color-secondary: #6dd5ed;
	--color-primary-light:#8dc6ff;
	--color-primary-dark:#021B79;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#606470;
	--color-text:#5f6769;
	--color-header-dark:#393e46;
	--color-background:#f5f9ee;
	--color-border-sc:#ececec;
	--color-border-focus:#69c2ff;
	--color-border:#d3d6db;
	--bs:#ffa857;
	--color-percentage:#5f6769;
	--color-header-light:#9ba6a5;
	--color-border-focus:#a9d7f6;
	--color-input-background:#f5f9ee;
	--gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
	
	
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height:  100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}


/* A elements that don't have a class get default styles */
a:not([class]) {
 text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ======================================================================== */ 

 /*                      RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */



body {
    background: #35363b;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    color: #f9f9f9;
    background: #171719;
    z-index: 1;
    padding: 0 1.3rem;
}

.navbar-logo {
    width: 120px;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.navbar-logo-icon {
    height: 29px;
}

@media only screen and (min-width: 600px) {
    .navbar-logo-icon {
        height: 25px;
    }
}

.navbar-logo-text {
    height: 20px;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 600px) {
    .navbar-logo-text {
        opacity: 1;
        visibility: visible;
    }
}

.navbar-menu {
    display: flex;
    transition: .2s;
}

@media only screen and (min-width: 600px) {
    .navbar-menu {
        flex: 1 1 auto;
        justify-content: center;
        margin-right: 120px;
        grid-gap: 2rem;
    }
}

.navbar-menu > button {
    position: relative;
    flex: 0 0 70px;
    width: 70px;
    height: 72px;
    display: grid;
    place-items: center;
    color: #f9f9f9;
}

@media only screen and (min-width: 600px) {
    .navbar-menu > button:last-child{
        position: absolute;
        right: 1.2rem;
    }
}

.nav-input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-span-group {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

:root {
    --color-cyan:#8ef6e4;
    --color-purple:#db66e4;
    --color-orange:#fda403;
    --color-red: #ff0000;
}

@media only screen and (width < 600px) {
    .nav-span-group:hover i.color-purple {
        color: var(--color-purple);
    }

    .nav-span-group:hover i.color-cyan {
        color: var(--color-cyan);
    }

    .nav-span-group:hover i.color-orange {
        color: var(--color-orange);
    }

    .nav-span-group:hover i.color-red {
        color: var(--color-red);
    }
}

.nav-span-group * {
    color: rgba(255, 255, 255, .3);
    transition: .2s;
}

.nav-span-group > i {
    font-size: var(--step-0);
}

.nav-span-group > i.active {
    opacity: 1;
}

.nav-span-text {
    position: absolute;
    bottom: -18px;
    font-size: var(--step--2);
    transition: .2s;
    filter: blur(9px);
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 600px) {
    .nav-input:checked ~ .nav-span-group i {
        transform: translateY(-10px);
        transition: .2s;
    }

    .nav-input:checked ~ .nav-span-group .nav-span-text {
        filter: blur(0);
        opacity: 1;
        visibility: visible;
    }

    .nav-input:checked ~ .nav-span-group .color-purple {
        color: var(--color-purple);
    }

    .nav-input:checked ~ .nav-span-group .color-cyan {
        color: var(--color-cyan);
    }

    .nav-input:checked ~ .nav-span-group .color-orange {
        color: var(--color-orange);
    }

    .nav-input:checked ~ .nav-span-group .color-red {
        color: var(--color-red);
    }
}
